.cbox{
	border: 5px solid;
}
.arow{
	border: 10px solid yellow;
}
.adiv{
	height: 60px;
	background-color: red;
}
.bdiv{
	height: 60px;
	background-color: green;
}
.cdiv{
	height: 60px;
	background-color: blue;
}
.ddiv{
	height: 60px;
	background-color: chocolate;
}
.ediv{
	height: 60px;
	background-color: pink;
}
.fdiv{
	height: 60px;
	background-color: orange;
}
.bcol{
	border: 3px solid red;
}
.ccol{
	border: 3px solid yellow;
}
.dcol{
	border: 3px solid blue;
}
.ecol{
	border: 3px solid pink;
}
